.slide {
  flex: 1;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto calc(100% - 3.5rem);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0;
}

.slide-image {
  display: none;
  height: calc(100% - 3.5rem);
  width: auto;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
  user-select: none;
}

.slide.is-active {
  opacity: 1;
}

.slide.is-active .slide-image {
  display: block;
}