:root {
  --cooler-font: "Fredoka One", "Arial Rounded MT", sans-apple-system, "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--cooler-font);
  width: 100%;
  max-width: 96ch;
  margin: 0 auto 1rem;
}

nav a {
  text-decoration: none;
}

nav h1 a,
nav h1 a:visited {
  color: currentColor;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  line-height: 2;
  margin: 0 0 1rem;
  max-width: 72ch;
  width: 100%;
}

h1 {
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
}

a,
a:visited {
  color: #C71C1C;
}

a:hover {
  color: #0A58CA;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}