html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  line-height: 2;
  margin: 0 0 1rem;
  max-width: 72ch;
  width: 100%;
}

h1 {
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
}

a,
a:visited {
  color: currentColor;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}